{% extends '/public/base.html' %}

{% block title %}Find Space{% endblock %}

{% block content %}
<!-- Carousel for Flats -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/public/findspace.css') }}">
<h2>Flats</h2>
<div id="flatCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in range(0, flats|length, 4) %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
                {% for flat in flats[i:i+4] %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/' + flat[6]) }}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <p class="card-text">{{ flat[9] }}</p>
                            <p class="card-text"><strong>tatus:</strong> {{ flat[4] }}</p>
                            <p class="card-text"><strong>Price:</strong> Rs.{{ flat[5] }}</p>
                            <p class="card-text"><strong>Owner:</strong> {{ flat[10] }}</p>
                            <p class="card-text"><strong>Phone:</strong> {{ flat[11] }}</p>
                            <a href="{{ url_for('register_public_bp.flats_details', flat_id=flat[0]) }}" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#flatCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#flatCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Carousel for Bungalows -->
<h2>Bungalows</h2>
<div id="bungalowCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for i in range(0, bungalows|length, 4) %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <div class="row">
                {% for bungalow in bungalows[i:i+4] %}
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="{{ url_for('static', filename='images/' + bungalow[6]) }}" class="card-img-top" alt="Image">
                        <div class="card-body">
                            <p class="card-text">{{ bungalow[9] }}</p>
                            <p class="card-text"><strong>Status:</strong> {{ bungalow[4] }}</p>
                            <p class="card-text"><strong>Price:</strong> Rs.{{ bungalow[5] }}</p>
                            <p class="card-text"><strong>Owner:</strong> {{ bungalow[10] }}</p>
                            <p class="card-text"><strong>Phone:</strong> {{ bungalow[11] }}</p>
                            <a href="{{ url_for('register_public_bp.bungalows_details', bungalow_id=bungalow[0]) }}" class="btn btn-primary">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bungalowCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bungalowCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}
